@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 30px;
  margin: 0px auto;
}

.navbar .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav__content .nav__links {
  margin: 20px 0px;
}
.navbar .nav__content .nav__links ul {
  display: flex;
}
.navbar .nav__content .nav__links ul li {
  list-style: none;
  margin-left: 13px;
}
.navbar .nav__content .nav__links ul li a {
  text-decoration: none;
  color: #000;
}
.navbar .nav__content .nav__links ul li a:hover {
  opacity: 0.7;
}
.navbar .nav__content .nav__phone a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 20px 20px;
  background-color: #FCF48F;
}

.info .info__content-slider .info__slide {
  background-image: url("../img/main-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.info .info__content-slider .info__slide .info__intro h1 {
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  margin-top: 40px;
}
.info .info__content-slider .info__slide .info__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  gap: 4px;
}
.info .info__content-slider .info__slide .info__cards .info__card {
  padding: 12px 19px;
  background: rgba(39, 39, 39, 0.8117647059);
}
.info .info__content-slider .info__slide .info__cards .info__card p {
  color: #fff;
  margin-top: 10px;
  max-width: 90%;
}
.info .info__content-slider .info__slide .info__cards .info__card svg {
  margin-top: 30px;
}
.info .info__content-slider .info__slide .info__cards .info__card svg:hover circle {
  fill: #FCF48F;
  cursor: pointer;
}

.law {
  margin: 70px 0px;
}
.law .law__content .law__intro h1 {
  font-size: 48px;
  font-weight: 300;
}
.law .law__content .law__intro hr {
  width: 90px;
  border: 2px solid #646464;
  margin: 40px 0px;
}
.law .law__content .law__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.law .law__content .law__cards .law__card-item {
  padding: 120px 30px;
  position: relative;
}
.law .law__content .law__cards .law__card-item h1 {
  color: #fff;
}
.law .law__content .law__cards .law__card-item svg {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.law .law__content .law__cards .law__card-item svg circle {
  fill: #000;
}
.law .law__content .law__cards .law__card-item svg path {
  fill: #FCF48F;
}
.law .law__content .law__cards .law__card-item:hover {
  background: #FCF48F;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}
.law .law__content .law__cards .law__card-item:hover h1 {
  color: #000;
}
.law .law__content .law__cards .law__card-item:hover svg {
  display: block;
}
.law .law__content .law__cards .corparative {
  background: #272727;
}
.law .law__content .law__cards .taxes {
  background: #353535;
}
.law .law__content .law__cards .estate {
  background: #353535;
}
.law .law__content .law__cards .bankruptcy {
  background: #525151;
}
.law .law__content .law__cards .managment {
  background: #5B5B5B;
}
.law .law__content .law__cards .legal {
  background: #424242;
}/*# sourceMappingURL=main.css.map */