@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
*
    margin: 0px
    padding: 0px
    box-sizing: border-box
body
    font-family: 'Roboto', sans-serif
    transition: .5s
.container
    max-width: 1220px
    width: 100%
    padding: 0px 30px
    margin: 0px auto
section
    margin-top: 70px
    &:nth-child(1)
        margin-top: 0px
.navbar
    .nav__content
        display: flex
        justify-content: space-between
        align-items: center
        .nav__links
            margin-top: 10px
            ul
                display: flex
                li
                    list-style: none
                    margin-left: 13px 
                    a
                        text-decoration: none
                        color: #000
        .nav__phone
            a
                text-decoration: none
                color: #000
                font-weight: 600
                padding: 16px 20px
                background-color: #FCF48F